[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
#pytest = "*"
pytest = "*"

[packages]
fiobank = "*"
markdown = "==2.6.11"
errbot = {version = ">=6.0",extras = ["slack"]}
slackclient = "<2.0"
humanize = "*"
python-dotenv = "*"
python-dateutil = "*"
raven = "*"
namegenerator = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
